.masthead {
    padding: 1em;
    background: #000531 url("../img/header.jpg") no-repeat center center;
    background-size: cover;
}

.masthead-projects {
    background-image: url("../img/header-projects.jpg");
}
