<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}} - {% endif %}Engineer's Notebook
        {% if page.titleAfter %} - {{page.titleAfter}}{% endif %}</title>
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
<body>

<header class="masthead {{page.mastheadClass}}">
    <h1>Engineer's Notebook</h1>
    {% include nav.html navclass='nav-top' %}
</header>

{{content}}

<footer>
    {% include nav.html navclass='nav-bottom' %}
    <p>This is footer.</p>
</footer>

</body>
</html>
